<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>index</title>
    <link href="../assets/stylesheets/main.css" rel="stylesheet">
</head>
<body>
<hr>
<div class="caption">
    <div class="icon4"></div>
    <span>身高<strong id="bodyHeight">0</strong>cm</span>
</div>
<div class="cursor-bg">
    <div class="both-sides"></div>
    <div class="cursor-bg-center">
        <div class="cursor"></div>
    </div>
    <div class="both-sides"></div>
</div>
<div id="wrapper">
    <div id="scroller">
        <ul>
            <li id="liStart">
                <div class="scale">
                    <div class="scale-space"></div>
                    <div class="scale-line-short"></div>
                    <div class="scale-space"></div>
                    <div class="scale-line-short"></div>
                    <div class="scale-space"></div>
                    <div class="scale-line"></div>
                    <div class="scale-space"></div>
                    <div class="scale-line-short"></div>
                    <div class="scale-space"></div>
                    <div class="scale-line-short"></div>
                    <div class="scale-space"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<hr>


<script src="../assets/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="../assets/javascripts/iscroll.js"></script>
<script type="text/javascript" src="../assets/javascripts/main.js"></script>
</body>

</html>